<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Challange cHcHCh</title>
    <link href='//fonts.googleapis.com/css?family=Lato:300' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

    <link href="//cdn.muicss.com/mui-0.9.9-rc2/css/mui.min.css" rel="stylesheet" type="text/css"/>
    <script src="//cdn.muicss.com/mui-0.9.9-rc2/js/mui.min.js"></script>


    <link href='{{ base_url() }}/css/style.css' rel='stylesheet' type='text/css'>

</head>
<body>
<div class="container">

    <form action="{{ path_for('postPay') }}" method="post" class="mui-form">


        <legend>Payment Page</legend>
        <div class="mui-textfield">
            <input name="fullname" required type="text">
            <label>Name</label>
        </div>
        <div class="mui-select">
            <select name="gateway" required>
                {% for gateway in gateways %}
                    <option value="{{ gateway }}">{{ gateway }}</option>
                {% endfor %}
            </select>
                <label>Select Gateway </label>
        </div>

        <div class="mui-row">
            <div class="mui-col-md-6">
                <div class="mui-textfield">
                    <input name="pay_value" required type="number">
                    <label>Value</label>
                </div>
            </div>
            <div class="mui-col-md-6">
                <div class="mui-select">
                    <select name="currency" required>
                        {% for currency in currencies %}
                            <option value="{{ currency }}">{{ currency }}</option>
                        {% endfor %}
                    </select>
                    <label>Currency</label>
                </div>

            </div>

        </div>
        <button type="submit"  class="mui-btn mui-btn--raised mui-btn--primary full-block">Send</button>

    </form>

</div>


</body>
</html>



